%header
  %h1 Some Posters

%ol.poster-list
  %li= link_to 'Images', 'poster-1.html'
  %li= link_to 'A Map', 'poster-2.html'
  %li= link_to 'Text Sequence', 'poster-3.html'
  %li= link_to 'A Map and Screenshots', 'poster-4.html'
  %li= link_to 'Just Screenshots', 'poster-5.html'
  %li= link_to 'Zoom out', 'poster-6.html'
