%header
  %h1 Some Posters

%ol.poster-list
  %li= link_to 'Poster', 'poster-1.html'
  %li= link_to 'Poster', 'poster-2.html'
  %li= link_to 'Poster', 'poster-3.html'
  %li= link_to 'Poster', 'poster-4.html'
  %li= link_to 'Poster', 'poster-5.html'
  %li= link_to 'Poster', 'poster-6.html'
